rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite la lectura pública de todas las colecciones
    match /{document=**} {
      allow read: if true;
      allow write: if false; // Nadie puede escribir directamente
    }
  }
}
